
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/script/modernizr-2.8.3.js"></script>
</head>


<body>
    <h1>New Property Added</h1>
    <br />
    <table class="b">
        <tr>
            <td>Suburb: </td>
            <td>@Model.Suburb</td>
        </tr>
        <tr>
            <td>Location: </td>
            <td>@Model.Location</td>
        </tr>
        <tr>
            <td>Number of Rooms: </td>
            <td>@Model.NumberofRooms</td>
        </tr>
        <tr>
            <td>Property Type: </td>
            <td>@Model.PropertyType</td>
        </tr>
        <tr>
            <td>Floor Area: </td>
            <td>@Model.FloorArea</td>
        </tr>
        <tr>
            <td>Land Area: </td>
            <td>@Model.LandArea</td>
        </tr>
        <tr>
            <td>RV: </td>
            <td>@Model.RV</td>
        </tr>
        <tr>
            <td>Email Address: </td>
            <td>@Model.Email</td>
        </tr>
    </table>
    <br />
    <br />
</body>
</html>
